/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# homestead backup db
/mysql_backup
/postgres_backup

# share
desktop.ini

# trust cert
ca.homestead.neighbors.crt
